.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* CUSTOM SCROLLBAR */

::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar {
  height: 0.25rem;
}
::-webkit-scrollbar {
  background: #fff;
}
::-webkit-scrollbar-track {
  background: #cbf281;
}
::-webkit-scrollbar-thumb {
  background: #8f88ff;
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover {
  background: #b0aafa;
}
.dark ::-webkit-scrollbar {
  width: 0.5rem;
}
.dark ::-webkit-scrollbar {
  height: 0.25rem;
}
.dark ::-webkit-scrollbar {
  background: #fff;
}
.dark ::-webkit-scrollbar-track {
  background: #252128;
}
.dark ::-webkit-scrollbar-thumb {
  background: #8f88ff;
  border-radius: 1rem;
}
.dark ::-webkit-scrollbar-thumb:hover {
  background: #8f88ff;
}
